* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body{
    background-color: #000;
    color: #b3b3b3;
}
.app{
    width:100%;
    height:100vh;
}
.topbar{
    height: 64px;
    background-color: #000;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    border-bottom: 1px solid #1f1f1f;
}
.topbar-left{
    display: flex;
    align-items: center;
    gap: 20px;
    min-width: 220px;
}
.logo{
    height: 38px;
}
.Home-icon{
    height: 56px;
    width: 56px;
    background-color: #1f1f1f;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.Home-icon i{
    color: white;
    font-size: 22px;
}
.Home-icon:hover{
    background-color: #2a2a2a;
}
.topbar-center{
    flex: 2;
    display:flex;
    justify-content: center;
}
.search-box{
    width:460px;
    height: 48px;
    background-color: #1f1f1f;
    border-radius: 999px;
    display: flex;
    align-items: center;
    padding: 0 18px;
    transition: background-color 0.2s ease;
    gap: 12px;
}
.search-box i{
    color:#b3b3b3;
    font-size:18px;
    margin-right: 12px;
}
.search-box input{
    flex: 1;
    background:transparent;
    border:none;
    outline:none;
    color:white;
    width:100%;
    font-size: 15px;
}
.search-box:hover {
  background-color: #2a2a2a;
}
.topbar-right{
  display: flex;
  align-items: center;
  gap: 16px;
  min-width: 320px;
  justify-content: flex-end;
}
.topbar-right a {
    color:#b3b3b3;
    text-decoration:none;
    font-weight: 600;
    font-size: 14px;
    align-items: center;
    gap: 16px;
}

.topbar-right a:hover{
    color:white;
}
.device-icon{
    width: 32px;
  height: 32px;
  background-color: #1f1f1f;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.device-icon i {
  color: white;
  font-size:14px;
}
.divider {
  color: #404040;
}
.install-app {
  display: flex;
  align-items: center;
  gap: 6px;
}

.install-app i {
  font-size: 14px;
}
.login-btn {
  background-color: white;
  color: black;
  border: none;
  padding: 8px 18px;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
}

.login-btn:hover {
  transform: scale(1.05);
}
.main-layout {
  display: flex;
  
}
.main-content {
  flex: 1;
  background-color: #121212;
  min-height:calc(100vh - 64px - 64px);
  padding-bottom: 4.5rem;
}
.preview-bar {
  height: 4rem;
  background: linear-gradient(90deg, #af2896, #509bf5);
  position:fixed;
  left:0%;
  right:0%;
  bottom:0%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  z-index: 1000;
}
.preview-left {
  display: flex;
  flex-direction: column;
}

.preview-title {
  font-size: 0.75rem;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.preview-text {
  font-size: 0.85rem;
  color: white;
}
.preview-btn {
  background: white;
  color: black;
  border: none;
  padding: 0.6rem 1.4rem;
  border-radius: 999px;
  font-weight: 700;
  cursor: pointer;
}

.preview-btn:hover {
  transform: scale(1.05);
}

.sidebar{
  background-color: #121212;
  width: 280px;
  padding: 16px;
  border-right: 1px solid #1f1f1f;
  height: calc(100vh - 64px - 4rem);
  display:flex;
  flex-direction: column;
}
.library-header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.library-title{
  font-size: 16px;
  font-weight: 600;
  color:white;
}
.library-card {
  background-color: #121212;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
}
.library-card h4{
  color:white;
  font-size: 14px;
  margin-bottom: 8px;
}
.library-card p{
  font-size:13px;
  margin-bottom: 16px;
  color:#b3b3b3;
}
.playlist-btn {
  background-color: white;
  color: black;
  border: none;
  padding: 8px 14px;
  border-radius: 20px;
  font-weight: 600;
  cursor: pointer;
}

.playlist-btn:hover {
  transform: scale(1.05);
}
.library-card:hover {
  background-color: #1a1a1a;
}
.add-btn{
  background: none;
  border: none;
  color:#b3b3b3;
  font-size: 22px;
  cursor: pointer;
  padding: 4px 5px;
  border-radius: 50%;
}
.add-btn:hover{
  color:white;
  background-color: #2a2a2a;
}
.podcasts-btn{
  background: white;
  color: #000;
  border: none;
  padding: 8px 14px;
  border-radius: 20px;
  font-weight: 600;
  cursor: pointer;
}
.podcasts-btn:hover{
  transform: scale(1.05);
}
.language-btn{
  background: none;
  color: white;
  border: 1px solid #727272;
  align-self: flex-start;
  padding: 6px 12px;
  border-radius: 999px;
  font-size: 13px;
  font-weight: 900;
  cursor: pointer;
}
.language-btn:hover{
  border-color: white;
}

.library-scroll {
  flex: 1;                
  background-color: #121212;
  border-radius: 8px;
  padding: 12px;
  overflow-y: auto;     
  margin-bottom: 12px;
}

.library-scroll::-webkit-scrollbar{
  width: 8px;
}
.library-scroll::-webkit-scrollbar-thumb {
  background: #2a2a2a;
  border-radius: 4px;
}

.library-scroll::-webkit-scrollbar-thumb:hover {
  background: #3a3a3a;
}
.sidebar-links{
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 16px;
}
.sidebar-links a{
  color: #b3b3b3;
  font-size: 11px;
  text-decoration: none;
}
.sidebar-links a:hover {
  text-decoration: underline;
  color:white;
}
.card-row{
  display:flex;
  gap: 1rem;
  overflow-x: auto;
  padding-bottom: 1rem;
}
.music-card{
  min-width: 12rem;
  min-height: 14rem;
  background-color: #181818;
  border-radius: 0.5rem;
  padding: 0.75px;
  cursor:pointer;
  transition: background-color 0.25 ease;
}
.music-card img {
  width: 100%;
  border-radius: 0.4rem;
  margin-bottom: 0.6rem;
}
.music-card h4{
  color: white;
  font-size:0.9rem;
  margin-bottom: 025rem;
}
.music-card p{
  font-size: 0.8rem;
  color: #b3b3b3;
}
.music-card:hover {
  background-color: #242424;
}
.preview-bar{
   color:white;
}
@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
  .music-card {
    min-width: 10rem;
  }
}
